<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>404</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-danger col-md-5 d-flex p-2">
                    <p role="alert">
                        <i class="fa fa-ban fa-3x float-start fa-pull-right"></i> &nbsp;
                         У вас нет доступа к данному ресурсу, либо он отсутствует в сборке.
                        Если вы уверенны в ошибке, то позовите системного администратора и молитесь, чтобы он это починил.
                        <br /><br />
                        &nbsp; P.S. Если вы системный администратор, то проверьте пути у элементов (Кнопки/Ссылки), либо отпишите в <a href="https://github.com/GOLEMWORKS" target="_blank">техподдержку</a> с полным описанием проблемы.
                        <img class="rounded img-fluid" src="./Stuff/Static/kursa4zalupa.gif" />
                    </p>
                </div>
                
                <NavLink class="text-white text-decoration-none" href="" Match="NavLinkMatch.All">
                    <button class="btn btn-primary" type="button">
                        <span class="oi oi-home" aria-hidden="true"></span> На главную
                    </button>
                </NavLink>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
