<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>404</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-danger col-md-6">
                    <p role="alert">
                        <i class="fa fa-ban"></i>
                        У вас нет доступа к данному ресурсу, либо он отсутствует.
                        Если вы уверенны в ошибке, то позовите системного администратора и молитесь, чтобы он это починил.
                    </p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
