@page "/infoinventory/{invId:int}"

@attribute [Authorize]

@inject IViewInventoriesByIdUseCase ViewInventoriesByIdUseCase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@if(inventory != null)
{
    <div class="col-4" id="printarea">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Инфо</th>
                    <th scope="col">Результат</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ID в базе данных</th>
                    <td>@invId</td>
                </tr>
                <tr>
                    <th scope="row">Наименование</th>
                    <td>@inventory.InventoryName</td>
                </tr>
                <tr>
                    <th scope="row">Доступно на складе:</th>
                    <td>@inventory.Quantity</td>
                </tr>
                <tr>
                    <th scope="row">Цена за штуку</th>
                    <td>@inventory.Price.ToString("c", new System.Globalization.CultureInfo("ru-RU"))</td>
                </tr>
                <tr>
                    <th scope="row">Штрихкод</th>
                    <td>@inventory.Barcode</td>
                </tr>
                <tr>
                    <th scope="row">Общая стоимость на складе</th>
                    <td>@String.Format(new System.Globalization.CultureInfo("ru-RU"), "{0:C}", inventory.Price * inventory.Quantity)</td>
                </tr>
            </tbody>
        </table>
    </div>
}
<br />

<div class="column">
    <button type="button"
            class="btn btn-primary"
            @onclick="@Back">
        <i class="fa fa-arrow-left"></i>
        Назад
    </button>
    <button type="button"
            class="btn btn-primary"
            @onclick="@Print">
        <i class="fa fa-print"></i>
        Печать
    </button>
    <button type="button"
            class="btn btn-primary"
            @onclick="@RedirectToEdit">
        <i class="fa fa-pencil"></i>
        Редактор
    </button>
</div>

@code {
    [Parameter]
    public int invId { get; set; }

    private Inventory? inventory;

    protected override async Task OnInitializedAsync()
    {
        this.inventory = await ViewInventoriesByIdUseCase.ExecuteAsync(invId);
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/inventories");
    }

    private void Print()
    {
        JSRuntime.InvokeVoidAsync("print");
    }

    public void RedirectToEdit()
    {
        this.invId = invId;
        NavigationManager.NavigateTo($"/editinventory/{invId}");
    }

}
