@page "/inventories"

@inject NavigationManager NavigationManager

<h3>Хранилище склада</h3>
<br />

<ViewInventoriesComponent 
    OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>
<RadzenDataGridRU 
    Data="@listInventories" 
    TItem="Inventory" 
    AllowFiltering="true" 
    AllowSorting="true" 
    AllowPaging="true" 
    PageSize="5"
    ShowPagingSummary="true">
    <Columns>
        <RadzenDataGridColumn TItem="Inventory" Property="InventoryName" Title="Наименование">
            <Template Context="inventoryRadzen">@inventoryRadzen.InventoryName</Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Inventory" Property="Quantity" Title="Количество"/>
        <RadzenDataGridColumn TItem="Inventory" Property="Price" Title="Цена">
            <Template Context="inventoryRadzen">
                @String.Format(new System.Globalization.CultureInfo("ru-RU"), "{0:C}", inventoryRadzen.Price)
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Inventory" Context="inventoryRadzen" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="400px">
            <Template Context="inventoryRadzen">
                <div class="btn-group-sm w-75">
                    <button class="btn btn-success"
                            type="button"
                            @onclick="@(() => RedirectToEdit(inventoryRadzen.InventoryId))">
                        Редактировать
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-primary"
                            type="button"
                            @onclick="@((args) => Info(inventoryRadzen.InventoryId))">
                        Информация
                        <i class="fa fa-info"></i>
                    </button>
                    <button class="btn btn-danger"
                            type="button"
                            @onclick="@((args) => Delete(inventoryRadzen.InventoryId))">
                        Удалить
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGridRU>
<p>
    @inv?.InventoryName
</p>

<br />
@code {
    private List<Inventory>? listInventories;
    private Inventory inv;

    private void OnSearchInventories(List<Inventory> inventory)
    {
        listInventories = inventory;
    }

    public void RedirectToEdit(int invId)
    {
        NavigationManager.NavigateTo($"/editinventory/{invId}");
    }

    public void Delete(int invId)
    {

    }

    public void Info(int invId)
    {
        NavigationManager.NavigateTo($"/infoinventory/{invId}");
    }

    private void OnSelectInventory(Inventory inv)
    {
        this.inv = inv;
    }
}
