@page "/inventoryreport"

@inject ISearchInventoryTransactionsUseCase SearchInventoryTransactionsUseCase
@inject IJSRuntime JSRuntime

<h3>Транзакции комплектующих</h3>
<br />

<div class="row">
        <div class="col">
            <label for="inv">Наименование</label>
            <input type="text" id="inv" class="form-control" @bind-value="invName" />
        </div>

        <div class="col">
            <label for="df">Дата от</label>
            <input type="date" id="df" class="form-control" @bind-value="dateFrom" />
        </div>

        <div class="col">
            <label for="dt">Дата до</label>
            <input type="date" id="dt" class="form-control" @bind-value="dateTo" />
        </div>

        <div class="col">
            <label for="at">Тип транзакции</label>
                <select id="at" class="form-control" @bind="activityTypeId">
                    <option value="0"></option>
                    <option value="1">Покупка комплектующих</option>
                    <option value="2">Сборка продуктов</option>
                </select>
        </div>

        <div class="col">
            <label>&nbsp;</label>
            <button 
                type="button" 
                class="btn btn-primary form-control" @onclick="searchInventories">
                <i class="fa fa-search"></i> Поиск
            </button>
        </div>

        <div class="col">
            <label>&nbsp;</label>
            <button 
                type="button" 
                class="btn btn-primary form-control" @onclick="Print">
                <i class="fa fa-print"></i> Печать
            </button>
        </div>
</div>


@if (inventoryTransactions != null)
{ 
    <div id="printarea">
        <table class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Комплектующие</th>
                    <th>Транзакция</th>
                    <th>К-во до</th>
                    <th>К-во после</th>
                    <th>Заказ</th>
                    <th>Оформитель</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in inventoryTransactions)
                {
                    <tr>
                        <td>@item.TransactionDate.ToString("HH:mm:ss dd/MM/yyyy")</td>
                        <td>@item.inventory.InventoryName</td>
                        <td>
                            @if (item.InventoryType == InventoryTransactionType.PurchaseInventory)
                            {
                                <text>Покупка комплектующих</text>
                            }
                            else if (item.InventoryType == InventoryTransactionType.ProduceProduct)
                            {
                                <text>Сборка продукта</text>
                            }
                        </td>
                        <td>@item.QuantityBefore</td>
                        <td>@item.QuantityAfter</td>
                        <td>@item.POnumber @item.ProductionNumber</td>
                        <td>@item.DoneBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
}
@code {
    private string invName;
    private DateTime? dateFrom;
    private DateTime? dateTo;
    private int activityTypeId = 0;
    private IEnumerable<InventoryTransaction> inventoryTransactions;

    private async Task searchInventories()
    {
        InventoryTransactionType? inventoryTransactionType = null;
        if (activityTypeId != 0)
        {
            inventoryTransactionType = (InventoryTransactionType)activityTypeId;
        }

        inventoryTransactions = await SearchInventoryTransactionsUseCase.ExecuteAsync(
            invName,
            dateFrom,
            dateTo,
            inventoryTransactionType);
    }

    private void Print()
    {
        JSRuntime.InvokeVoidAsync("print");   
    }
}
